/* .App {
  text-align: center;
} */

.appBody {
  padding-top: 100px;
  padding-left: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.centered {
  margin: auto;
  text-align: center;
}

.landing {
  font-size: medium;
}

